@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 48px;

  /* color */
  --color-primary-300: #e5e7eb;
  --color-primary-500: rgb(64 71 86);
  --color-primary-700: rgb(35 39 47);
  --color-secondary-300: rgb(230 247 255);
  --color-secondary-500: rgb(8 126 164);

  /* typography */
  --font-size-xs: 11px;
  --font-size-sm: 13px;
  --font-size-md: 18px;
  --line-height-md: 30px;
  --font-family-normal: -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-normal);
  color: var(--color-primary-500);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

a {
  color: var(--color-secondary-500);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  & & {
    padding-left: var(--spacing-sm);
  }
}

.page {
  min-height: 100%;
  display: grid;
  grid-template-areas:
    "header main toc"
    "footer footer footer";
  grid-template-rows: 1fr auto;

  &__header {
    grid-area: header;
    width: 320px;
    position: sticky;
  }

  &__main,
  &__footer {
    width: 1300px;
    padding: var(--spacing-xl) 0;
  }

  &__main {
    grid-area: main;
    padding: var(--spacing-xl) 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--color-primary-700);
    }
  }

  &__toc {
    grid-area: toc;
    position: sticky;
    right: 0;
    top: 0;
  }

  &__footer {
    grid-area: footer;
    border-top: 1px solid var(--color-primary-300);
    margin: 0 auto;
  }
}

.footer-nav {
  &__link {
    display: block;
    font-size: var(--font-size-sm);
    color: var(--color-primary-500);

    &--header {
      font-size: var(--font-size-md);
      font-weight: 600;
      margin: 0 0 var(--spacing-sm);
      color: var(--color-primary-700);
    }
  }
}

.footer-copyright {
  &__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: var(--font-size-md);
  }

  &__description {
    font-size: var(--font-size-sm);
  }
}

.auto-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}